<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          &copy;2015 <a  href="http://visitkhorezm.uz/"> Khorezm Urgench</a>&nbsp;
        <a href="http://uzb.herokuapp.com/" title="Сайт о Узбекистане">Жемчужина Средней Азии</a>
      </div>


      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="#"><b>Sadoqat Marimboyeva</b></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!--/#footer-->



