@()


@main() {


    @navbar("list")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            @carousel()
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1><em><font color="#66afe9">Matnazar Abdulhakim</font></em></h1>
                    <p class="lead">Matnazar Abdulhakim 1948 yil 20 fevralda Xorazm viloyatining Urganch tumanida tug‘ilgan.O’zbekistonda xizmat ko‘rsatgan madaniyat xodimi (2000).Rossiyaning Taganrog shahridagi Rus tili va adabiyoti institutini tamomlagan.«Tiniq tonglar» (1982), «Fasllar qo‘shig‘i» (1984), «Qor qo‘shig‘i» (1990), «Yonimdagi daryolar» (1993), «Qorachikdagi dunyo» (1994), «Bir kuchoq gul», «Oydinlik» (1997), «So‘nggi yaproq» (1999) kabi kitoblari nashr qilingan.Shayx Najmiddin Kubro, Shayx Majdiddin Bag‘dodiy, Pahlavon Mahmud, Mirzo Bedil asarlarini forsiydan o‘zbek tiliga tarjima qilgan.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            @carousel2()
            <br><br>
        </div>

        <br><br> <br><br>  <br><br>
        <div class="row">
            <div class="col-md-4">
                <img src="@routes.Assets.at("images/1.jpg")" class="img-responsive" style="width : 560px; height: 400px  "><br><br>
                <img src="@routes.Assets.at("images/8.jpg")" class="img-responsive" style="width : 560px; height: 400px  ">
            </div>

            <div class="col-md-4">
                <P class="lead">
                    <font color="#4d56a4">BAXT</font><br>

                    Mukammal bu go‘zalligingni<br>
                    Yonib qilgim keladi ta’rif,<br>
                    Biroq, ne qilayki, qoshingda<br>
                    Eng qudratli kalomlar g‘arib.<br>

                    Visolingni qilsam-da havas,<br>
                    Mehrim izhor etmadim hech vaqt.<br>
                    Sen bilan bir havodan nafas –<br>
                    Olish o‘zi menga katta baxt.<br>

                    Bir qayrilib tashlasang nigoh,<br>
                    Yurak to‘lar so‘nmas ziyoga...<br>
                    Seni bir bor ko‘rish-chun faqat<br>
                    Kelib ketsa arzir dunyoga.<br>
                    <br>

                    <font color="#4d56a4">TOG’ SOG’INCHI!</font><br>

                    Kunlar o‘tayotir misli yildirim,<br>
                    Sen hakda indamay kuylar har toshim.<br>
                    Ayriliqqa qattiq g‘azab bildirib<br>
                    O’qraygan qo‘sh-ikdir mening bardoshim.<br>

                    Muqarrar bo‘l, erkam, bamisli bahor,<br>
                    Nom-nishon qoldirma qahrlarimdan.<br>
                    Loyiqdir erisa boshimdagi qor,<br>
                    Chechaklar unsa yonbag‘irlarimda.<br>

                    Shunda pinjimdagi qushlar, ohular<br>
                    Yo‘lingga men bilan teng termiladi.<br>
                    Asrlar dastidan qulamas tog‘lar,<br>
                    Tog‘lar judolikdan yemiriladi.<br>

                </P>
            </div>
            <div class="col-md-4">

                <p class="lead">                <font color="#4d56a4">IMKONIYAT</font><br>

                    G’amginlik kam emas qullikdan,<br>
                    Lekin mahbusman deb nolish - uyatdir.<br>
                    Har lahza, har nafas bu tutqunlikdan<br>
                    Xalos bo‘lmoq uchun imkoniyatdir.<br>

                    * * *<br>

                    Parvoyim yo‘q hozir xom, puxtalarga,<br>
                    Unutdim dunyoning nasya, naqdlarin...<br>
                    Yurakning olis bir nuqtalariga<br>
                    Qaytib kelayotir shoir vaqtlarim.<br>

                    Arang miltillaydi olisda ovul,<br>
                    Tim-tirs... ilg‘anadi bezovta ruhlar.<br>
                    Oynako‘l tushiga kiradi dovul,<br>
                    Har bargda bir shamol dong qotib uxlar.<br>

                    Har lahza qa’riga bekingan ming yil,<br>
                    Sukunat hayqirar qutlug‘ otingni.<br>
                    Butun borliq qattiq biriktirgan til<br>
                    So‘ndirmaslik uchun yodingni.<br>

                    Munavvar bir dastyor yog‘dular mulki,<br>
                    Tinim bilmaydi hech osmonda quyosh.<br>
                    Nur taratar yoding - lablarda kulgu,<br>
                    Yog‘du sochar yoding - ko‘zlardagi yosh...<br>
                </p>
            </div>
        </div>


    </div>
    @footer()
}